:root{
  font-family: 'Mansalva', cursive;
  text-align: center;
  max-width: 100%;
  height: auto;
}

#main {
  font-size: 1.5em;
}

#title {
  margin: 0 auto;
  font-size: 2.5em;
  white-space: pre-line;
  text-align: center;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.blue {
  color: #35B7FC;
}

h2 {
  font-size: 2em;
}

body {
  display: grid;
  position: relative;
  max-width: 100%;
  height: auto;
  margin: 0 20vw 2.5px 26vw;
  background: radial-gradient(#FFECA7 30%, #0C5728 80%);
}

#img-div {
  max-width: 100%;
  height: auto;
}

#img-caption {
  display: none;
}

#image {
  display: block;
  width: 50%;
  max-width: 100%;
  margin: 0 auto;
  border-style: solid;
  border-radius: 4%;
  border-width: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.50), 0 6px 6px rgba(0,0,0,0.30);
}

.nav-bar {
  font-size: 1.2em;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: -26vw;
  width: 25vw;
  height: 100%;
  border-style: solid;
  border-width: 0.20em;
  border-radius: 4%;
  background: linear-gradient(90deg, #FCE0D7, #FCF3DE);
  opacity: 0.7;
}  

.logo-bar {
  max-width: 100%;
  height: 14rem;
  border-radius: 80%;
}

.logo-bar2 {
  max-width: 100%;
  height: auto;
}

.text-bar {
  white-space: pre-line;
}

#tribute-link {
  font-size: 2em;
}

.bold {
  font-weight: bold;
}

#tribute-info {
  width: 80%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  white-space: pre-line;
}

#footer-img {
  display: block;
  width: 50%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-style: solid;
  border-width: 2%;
  border-radius: 4%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.50), 0 6px 6px rgba(0,0,0,0.30); 
}

#footer {
  font-family: 'Covered By Your Grace', cursive;
}

@media screen and (max-width: 480px) {
  body {
  margin: 0 15vw 2.5px 30vw;
}
  .nav-bar {
  width: 50%;
  font-size: 0.5em;
  height: 100%;
  left: -30vw;
  }
  
  .logo-bar {
  height: 5rem;
}
#title {
  margin: 0 auto;
  font-size: 1.2em;
}
  
  h2 {
  font-size: 1em;
}
  #image {
  display: block;
  width: 75%;
  max-width: 100%;
  margin: 0 auto;
}
}
