:root {
  font-family: "Mansalva", cursive;
  --red: #ff0000;
  --yellow: #ffff00;
  --blue: #35b7fc;
  --green: #0c5728;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: auto;
  margin: 0;
  width: 100%;
  background: radial-gradient(var(--yellow) 30%, var(--green) 80%);
  overflow-x: hidden;
}

#main {
  font-size: 1.5em;
  width: 100%;
  overflow-x: hidden;
}

#title {
  margin: 20px;
  font-size: 2em;
  /* white-space: pre-line;*/
  text-align: center;
}

.red {
  color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.blue {
  color: var(--blue);
}

h2 {
  font-size: 2em;
}

.container {
  width: 1000px;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  margin: 50px;
  border-radius: 15px;;
  overflow: hidden;

  .card {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 65vmin;
    position: relative;
    .card__head {
      color: black;
      background: rgba(255, 209, 59, 0.782);
      padding: 0;
      transform: rotate(-90deg);
      transform-origin: 0% 0%;
      transition: all 0.5s ease-in-out;
      padding: 10px;
      min-width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 0.8em;
      white-space: nowrap;
    }

    &:hover {
      flex-grow: 10;
      img {
        filter: grayscale(0);
      }
      .card__head {
        text-align: center;
        top: calc(100% - 2em);
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1.5em;
        transform: rotate(0deg);
        min-width: 97%;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 1s ease-in-out;
      filter: grayscale(100%);
    }
    &:not(:nth-child(5)) {
      margin-right: 1em;
    }
  }
}

#img-caption {
  display: none;
}

.nav-bar {
  font-size: 1em;
  position: relative;
  display: grid;
  top: 0px;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding: 15px;
  border-style: solid;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #fce0d7, #fcf3de);
  grid-template-rows: 1fr;
  grid-template-columns: 10% 85%;
  grid-gap: 20px;
  opacity: 0.9;
}

.logo-bar {
  position: relative;
  width: 100%;
  border-radius: 80%;
}

.text-bar {
  font-size: 24px;
  width: 100%;
  margin: 0;
  animation: myAnim 5s ease 0s 1 normal forwards;
  overflow-x: hidden;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(32px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

#trivia {
  width: 100%;
}

article {
  width: 1000px;
  max-width: 100%;
  height: auto;
  margin: 0 auto 20px auto;
  font-size: 1.2em;
}

#tribute-link {
  font-size: 2em;
}

.bold {
  font-weight: bold;
}

#tribute-info {
  width: 80%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  white-space: pre-line;
}

#footer-img {
  display: block;
  width: 50%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-style: solid;
  border-width: 2%;
  border-radius: 4%;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.5),
    0 6px 6px rgba(0, 0, 0, 0.3);
}

#footer {
  font-family: "Covered By Your Grace", cursive;
}

@media screen and (max-width: 480px) {
  body {
    margin: 0 15vw 2.5px 30vw;
  }
  .nav-bar {
    width: 50%;
    font-size: 0.5em;
    height: 100%;
    left: -30vw;
  }

  .logo-bar {
    height: 5rem;
  }
  #title {
    margin: 0 auto;
    font-size: 1.2em;
  }

  h2 {
    font-size: 1em;
  }
  #image {
    display: block;
    width: 75%;
    max-width: 100%;
    margin: 0 auto;
  }
}
